/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    color: #007bff;
}

p {
    line-height: 1.6;
}

/* Form Styles */
#urlForm {
    margin: 20px 0;
    text-align: center;
}

label {
    font-weight: bold;
}

input[type="url"] {
    padding: 10px;
    width: 65%;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-top: 20px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 16px;
}

button[type="submit"]:hover {
    background-color: #ffcb2e;
}

/* Results Section Styles */
#imageAnalyzer {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 20px;
    margin-top: 20px;
    width: 70%; /* Reduced width */
    margin-left: auto;
    margin-right: auto;
}

/* Additional Content Styles */
/* Customize colors and styles as needed */
h2 {
    color: #007bff;
}

pre {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 4px;
    font-family: monospace;
}

/* Add your additional styles here */

